@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: hsl(192.31, 63.93%, 64.12%);
  --primary-foreground: hsl(60, 0.46%, 42.94%);
  --secondary: hsl(337.88, 80.49%, 51.76%);

  --gray-light: #d9d9d9;
  --gray-medium: #6e6e6d;

  --color-neutrals-1: #ffffff;
  --color-neutrals-2: #f7f7f7;
  --color-neutrals-3: #e6e6e6;
  --color-neutrals-4: #c7c7c7;
  --color-neutrals-5: #737373;

  --color-success-main: #008760;
  --color-success-light: #eafdf8;
  --color-error-main: #d71920;
  --color-error-light: #fde9e9;
  --color-alert-main: #ea580c;
  --color-alert-light: #ffeee5;
  --color-information-main: #2f7ea6;
  --color-information-light: #f2fbff;
  --color-visited-main: #663399;

  --overlay: rgba(0, 0, 0, 0.6);
}

input[type='date']::-webkit-calendar-picker-indicator {
  /* position: absolute;
  background: url('/static/icon _calendar.svg') no-repeat;
  left: 14.91px;
  filter: invert(1);
  opacity: 1;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-width: thin; */

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  select[type='number'] {
    appearance: none !important;
  }
}
